.background-image{
	background-image: url(./images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
*{margin: 0;
padding: 0;
font-family: 'Smooch', san-serif }
.container-fluid{
	padding: 0;
	margin: 0;
}
.card{
	background-image: url(./image/aboutme.png);
}